@keyframes gantt-chart-animation {
  0% {
    width: 0%;
  }
}

.gantt-chart-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.server1-gantt-chart,
.server2-gantt-chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.gantt-chart {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  height: 200px;
  border: 1px solid #ccc;
  padding: 10px;
  overflow-x: auto;
}

.gantt-chart-bar {
  height: 50px;
  background-color: #007bff;
  margin-right: 10px;
  text-align: center;
  align-items: center;
  animation-name: gantt-chart-animation;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  position: relative;
}

.gantt-chart-bar.idle {
  background-color: #ccc;
}

.gantt-chart-label {
  position: absolute;
  bottom: -20px;

  display: flex;
  justify-content: space-between;
  color: #000;
  font-size: 14px;
  white-space: nowrap;
  padding: 2px 5px;
  width:100%;
}

.start-time2 {
  justify-self: flex-start;
  color : rgba(236, 236, 236, 0.865);
}

.end-time2 {
  justify-self: flex-end;
  color : rgba(236, 236, 236, 0.865);
}

.customer-name {
  margin: 10px 0px;
}



